.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.wrapper {
	margin-top: 40px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.courseDecscr {
	margin-bottom: 30px;
}

.skills {
	margin-bottom: 50px;
}

.tag {
	margin-right: 10px;
}

@media (max-width: 765px) {
	.tag {
		margin-bottom: 5px;
	}

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
